/* Animation check on menu items */
.select{
    background-color: $tertiary-color;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    visibility: hidden;
    transition: all 1s;
    transform: translateX(30px);
    flex-basis: 0;
    i{
        border-radius: 25px;
        padding: 5px;
        background-color: white;
        color: $tertiary-color;
        transition: transform 1s;
    }
}
.menu li{
    &:hover .select{
    transform: translateX(0px);
    flex-basis: 100px;
    visibility: visible;
    i{
        transform: rotate(360deg); 
    }
    }
}

/* Animation like menu on homepage */

.heart-like{
    position: relative;
    
    i:nth-of-type(1){
        transition: all 330ms ease-in-out;
        transform: scale(1);
        position: absolute;
    }
    i:nth-of-type(2){
        transform: scale(0);
        z-index: 1;
        background-clip: text;
        background: linear-gradient(#FF79DA,#9356DC );
        
    }
    &:hover{
        i:nth-of-type(1){
            transform: scale(0);
            transition: all 330ms ease-in-out;
        }
        i:nth-of-type(2){
            transform: scale(1);
            transition: all 330ms ease-in-out;
        }
    }
}
