header{
    text-align: center;
    a:nth-of-type(1){
    // width: 170px;
    padding: 20px 0px 10px 0px;
    font-family: shrikhand;
    font-size: 1.9em;
    display: inline-block;
    }      
}

/* Icon return to home on menu page*/
#home-return{
    position: absolute;
    left: 20px;
    top: 20px;
    i{
        font-size: 1.2em;
    }
}