/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/scss/menu.scss ***!
  \**********************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
/*!**************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/scss/menu.scss (1) ***!
  \**************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
/*!**************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/scss/menu.scss (2) ***!
  \**************************************************************************************************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Font Roboto and Shrikhand */
/* Font Shrikhand */
h1 {
  font-size: 1.5em;
  flex-basis: 80%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  font-family: "roboto";
  margin: 0 auto;
}

.btn {
  border-radius: 25px;
  padding: 15px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 0.95em;
  margin: 10px;
  width: 200px;
  display: flex;
  color: white;
  font-family: "roboto";
  justify-content: center;
  transition: all 0.4s;
  box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.4);
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 8px 10px 19px -7px rgba(0, 0, 0, 0.4);
}

/* Animation check on menu items */
.select {
  background-color: #99E2D0;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition-duration: 1s;
  overflow: hidden;
  width: 0;
  position: relative;
}
.select i {
  border-radius: 25px;
  padding: 3px;
  background-color: white;
  color: #99E2D0;
  position: absolute;
  left: 25px;
  top: 25px;
}

.menu li:hover .select {
  width: auto;
  padding: 25px 35px;
}
.menu li:hover .select i {
  transform: rotate(360deg);
  transition-duration: 1s;
}

/* Animation like menu on homepage */
.heart-like {
  position: relative;
}
.heart-like i:nth-of-type(1) {
  transition: all 330ms ease-in-out;
  transform: scale(1);
  position: absolute;
}
.heart-like i:nth-of-type(2) {
  transform: scale(0);
  z-index: 1;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.heart-like:hover i:nth-of-type(1) {
  transform: scale(0);
  transition: all 330ms ease-in-out;
}
.heart-like:hover i:nth-of-type(2) {
  transform: scale(1);
  transition: all 330ms ease-in-out;
}

/* Animation list on menu page */
@-webkit-keyframes list-appearance {
  from {
    opacity: 0;
    transform: translateY(25px);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
@keyframes list-appearance {
  from {
    opacity: 0;
    transform: translateY(25px);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
.menu li:nth-of-type(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.menu li:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.menu li:nth-of-type(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.menu li:nth-of-type(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

/* Loading spinner for homepage */
@-webkit-keyframes loading_spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading_spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes hide-loading-spinner-container {
  to {
    visibility: hidden;
  }
}
@keyframes hide-loading-spinner-container {
  to {
    visibility: hidden;
  }
}
footer {
  background-color: #353535;
  padding: 30px 20px 40px 20px;
}
footer .footer-container > a {
  font-family: "shrikhand";
  font-size: 1.2em;
  color: white;
}
footer nav {
  padding-top: 20px;
}
footer nav li {
  padding-bottom: 15px;
}
footer nav li a {
  color: white;
  font-size: 1em;
}
footer nav li a i {
  padding-right: 10px;
  width: 20px;
  font-size: 0.9em;
}

@media screen and (min-width: 992px) {
  footer .footer-container {
    width: 1100px;
    margin: 0 auto;
  }
}
header {
  display: flex;
  justify-content: center;
}
header a:nth-of-type(1) {
  width: 170px;
  padding: 20px 0px 10px 0px;
  font-family: shrikhand;
  font-size: 1.9em;
}

/* Icon return to home on menu page*/
#home-return {
  position: absolute;
  left: 20px;
  top: 20px;
}
#home-return i {
  font-size: 1.2em;
}

/* Main */
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main figure {
  margin-bottom: -50px;
  height: 280px;
  width: 100%;
}
main figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
main .menu {
  width: 100%;
  padding: 40px 15px 50px 15px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f6f6f6;
}
main .menu h1 {
  font-family: "shrikhand";
  font-size: 1.8em;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  padding: 0px 20px 40px 5px;
}
main .menu .button-container {
  display: flex;
  justify-content: center;
}
main .menu .button-container .btn {
  max-width: 150px;
}

section h2 {
  font-weight: 350;
  padding-left: 5px;
  width: 100%;
  padding-bottom: 25px;
  position: relative;
}
section h2::before {
  content: " ";
  border-bottom: solid 3px #99E2D0;
  padding-bottom: 5px;
  position: absolute;
  width: 40px;
  top: 15px;
}
section ul {
  padding-bottom: 40px;
}
section ul li {
  border-radius: 15px;
  background-color: white;
  display: flex;
  box-shadow: 2px 6px 19px -10px rgba(0, 0, 0, 0.31);
  margin-bottom: 15px;
  overflow: hidden;
  -webkit-animation-name: list-appearance;
          animation-name: list-appearance;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
section ul li .dishes-details {
  white-space: nowrap;
  overflow: hidden;
  padding: 15px 10px;
}
section ul li .dishes-details p {
  font-weight: 300;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
section ul li .dishes-details h3 {
  padding-bottom: 10px;
  font-size: 1.1em;
  font-weight: 450;
  overflow: hidden;
  text-overflow: ellipsis;
}
section ul li .price {
  display: flex;
  padding: 15px;
  align-items: flex-end;
  font-weight: 500;
  font-size: 0.9em;
  text-align: right;
  margin-left: auto;
}

/* Desktop Version */
@media screen and (min-width: 992px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
  }
  main figure {
    height: 500px;
    margin-bottom: -250px;
  }
  main figure img {
    -o-object-position: 50% 65%;
       object-position: 50% 65%;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  main .menu {
    flex-basis: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    background-color: #f6f6f6;
    padding: 40px 20px 50px 20px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.5);
  }
  main .menu h1 {
    font-size: 2em;
  }
  main .menu section {
    width: 32%;
  }
  main .menu .button-container {
    width: 100%;
  }
}
