/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/scss/menu.scss ***!
  \**********************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
/*!**************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/scss/menu.scss (1) ***!
  \**************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
/*!**************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/scss/menu.scss (2) ***!
  \**************************************************************************************************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Font Roboto and Shrikhand */
/* Font Shrikhand */
h1 {
  font-size: 1.6em;
  flex-basis: 80%; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style: none; }

body {
  font-family: "roboto";
  display: flex;
  flex-direction: column;
  margin: 0 auto; }
  body h1, body h2, body h3, body p {
    margin: 0; }

.btn {
  border-radius: 25px;
  padding: 15px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 0.95em;
  margin: 10px;
  width: 200px;
  display: flex;
  color: white;
  font-family: 'roboto';
  flex-basis: 100%;
  justify-content: center;
  transition: all 0.4s;
  box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.4); }
  .btn:hover {
    opacity: 0.9;
    box-shadow: 8px 10px 19px -7px rgba(0, 0, 0, 0.4); }

footer {
  background-color: #353535;
  padding: 30px 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column; }
  footer a {
    padding-bottom: 20px; }
  footer span {
    color: white;
    font-family: 'shrikhand';
    font-size: 1.2em; }
  footer nav {
    display: flex; }
    footer nav ul {
      padding: 0;
      row-gap: 15px;
      display: flex;
      flex-direction: column; }
      footer nav ul a {
        color: white;
        font-size: 1em; }
        footer nav ul a i {
          padding-right: 10px;
          width: 20px;
          font-size: 0.9em; }

header {
  display: flex; }
  header a {
    display: flex;
    flex-basis: 100%;
    justify-content: center; }
    header a img {
      width: 170px;
      padding-top: 20px;
      padding-bottom: 10px; }

p {
  font-weight: 300;
  font-size: 0.9em; }

h3 {
  font-size: 1.1em;
  font-weight: 450; }

/* Header */
header > a:first-child {
  flex-basis: 10%;
  position: absolute; }
  header > a:first-child i {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 1.2em; }

/* Main */
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f6f6f6; }

figure {
  display: flex;
  width: 100%;
  margin-bottom: -50px;
  height: 280px; }
  figure img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

main > div:nth-child(2) {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  padding: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f6f6f6;
  padding-top: 40px; }
  main > div:nth-child(2) h1 {
    font-family: 'shrikhand';
    font-size: 1.7em; }
  main > div:nth-child(2) span {
    flex-basis: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.5em; }

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  row-gap: 20px; }
  section h2 {
    display: flex;
    flex-basis: 100%;
    font-weight: 350; }
    section h2 span {
      border-bottom: solid 3px #99E2D0;
      padding-bottom: 5px; }
  section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px; }
    section ul li {
      flex-basis: 100%;
      border-radius: 15px;
      padding: 15px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31); }
      section ul li div:first-child {
        display: flex;
        flex-basis: 85%;
        flex-direction: column;
        row-gap: 10px;
        white-space: nowrap;
        overflow: hidden; }
        section ul li div:first-child p {
          overflow: hidden;
          text-overflow: ellipsis; }
      section ul li div:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        width: 15%;
        align-items: flex-end;
        font-weight: 500;
        font-size: 0.9em; }

main > div:nth-child(6) {
  flex-basis: 100%;
  justify-content: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px; }

.btn {
  max-width: 150px; }

